body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  
 }

/*  Общие стили  */
.body {
min-width: 1280px;
background-color: #f2f2f2;
}

.wrapper {
width: 1200px;
box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
margin: 0 auto;
background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}


/* Хедер */

.header-logo {
position: absolute;
left: 45%;

}

.site-navigation {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
min-height: 56px;
margin: 0;
padding: 0;
background-color: white;
}

.main-navigation ul {
  list-style: none;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;  
  color: #000000;

}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

/* Основа */

.welcome-img{
padding-top: 77px;
text-align: center;
}

.container {

background: url("../img/background_800.jpg") no-repeat 0 -27px;
width: 1200px;
min-height: 773px;
}

.intro-mask {
  position: absolute;
  top: 516px;
}


.feature-text-top {
margin-top: 80px;
text-align: center;
width: 1200px;
height: 216px;
background-color: white;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0;
}

.feature-text-top b {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: 440px;
}

.feature-text-top p {
  line-height: 26px;

} 

.benefits{
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center; 
}

.main-benefit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  width: 1200px;
  height: 256px;
}

.reverse {
  flex-direction: row-reverse;
}


.description-city {
background-color: #81b3d2;
text-align: center;
color: #ffffff; 

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


margin: 0;
padding: 0;
width: 400px;
min-height: 256px;
}


.description-city h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  width: 125px;
}

.description-city p {
width: 280px;
  }

.features-list {
list-style: none;

display: flex;
align-items: center;
justify-content: space-around;
min-height: 330px;

padding: 0;
margin: 0;
}

.features-list h3 {
color: #000000;
font-size: 21px;
font-weight: bold;
line-height: 21px;
}

.features-list li {
width: 400px;
}
 
.advice-list p {
width: 284px;
}

.description-bridge {
background-color: #81b3d2;
text-align: center;
color: #ffffff; 

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


margin: 0;
padding: 0;
width: 400px;
min-height: 256px;
}


.description-bridge h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  width: 152px;
}

.description-bridge p {
width: 303px;
  }



.advice-list2 h3 {
width: 100px;
text-align: center;
}

.blue-light {
background-color: #eeeeee;
min-height: 256px;
}



.feature-text-bottom strong {
font-size: 30px;
font-weight: bold;
line-height: 36px;
}

.feature-text-bottom p {
line-height: 24px;
}

.hotel-search {
text-align: center;  
margin-top: 57px;
}

.hotel-search button {
font-size: 21px;
line-height: 26px;
font-weight: 700;
color: #ffffff;
border: none;
background-color: #766357;
text-align: center;
margin-top: 52px;
text-transform: uppercase;
width: 568px;
min-height: 86px;
}

.hotel-search button:hover,
.hotel-search button:focus {
color: #ffffff;
background-color: #604e43;
}

.hotel-search button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33; 
} 

.main-footer {
display: flex;
justify-content: space-around;
min-height: 120px;

}

.contacts {
  margin: 0;
  padding: 0;
}
.contacts a{
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;  
  color: #000000;

}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;

}


.footer-social ul{
  list-style: none;

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 150px;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#81b3d2;
  fill: #ffffff;  
}

.social-button a {
 width: 46px;
 height: 48px;
 fill: #ffffff; 
 text-align: center;
}


.social-button a:hover,
.social-button a:focus {
 background-color: #669ec0;
}

.social-button:active a {
  background-color: #5496bd;
  fill: #88b6d1;
}


.footer-copyright {
 font-size: 14px;
 line-height: 26px;
color: #000000;
display: flex;
align-items: center;
justify-content: center;
}



.footer-copyright a {
 color: #000000;
 margin-left: 8px;
 text-align: center;
}

.footer-copyright span:hover,
.footer-copyright span:focus {
  color: #000000;
}

.footer-copyright span:active {
  color: #000000;
}

.footer-copyright-link {
  fill: #231f20;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
  fill: #81b3d2;
}

.footer-copyright-link:active {
  fill: #bdbbbc;
}

.modal-search {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.modal-search input {
  background-color: #f2f2f2;
  border: none;
   font-size: 14px;
  line-height: 26px;
    text-transform: uppercase;
      font-weight: bold;
}

.modal-search input:hover {
  background-color: #ebebeb;
}

.modal-search input:focus{
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.search-button {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.search-button:hover,
.search-button:focus {
 background-color: #669ec0;
}

.search-button:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* Каталог */

.search-hotels {
  background-image: url("../img/background_form.jpg");
  color: #ffffff;
}

.search-hotels fieldset {
  border: none;
}

.search-hotels legend {
  font-size: 16px;
  font-weight: 700;
}

.search-hotels ul {
  list-style: none;
  font-weight: 400;
}
.cost-per-night input{
  color: #ffffff;
  text-align: center;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.transparent-button:hover,
.transparent-button:focus,
.transparent-button:active {
  background-color: #ffffff;
  color: #000000;
}

.results,
.search-results {
  background-color: #ffffff;
}

.results {
  border-bottom: 1px solid #e5e5e5;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-results {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;

  text-transform: uppercase;
  color: rgba(0,0,0,0.3);
}


.active {
  color: #81b3d2;
  fill: #81b3d2;
  border: none;
}

.sort-button:hover,
.sort-button:focus {
  color: #81b3d2;
}

.sort-button:active {
  border: none;
  color: #000000;
}

.arrow {
  border: none;
  background-color: transparent;
  outline: none;
  fill: #cacaca;
}

.arrow:hover,
.arrow:focus  {
  fill: #231f20;
}

.arrow:active{
  fill: #81b3d2;
}

.active-arrow {
  fill: #81b3d2;
}
.search-results ul {
  list-style: none;
}

.search-item {
  border-bottom: 1px solid #e5e5e5;
}

.search-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.more-detail {
  background-color: #81b3d2;
  color: #ffffff;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

  text-decoration: none;
}

.more-detail:hover,
.more-detail:focus {
  background-color: #669ec0;
}

.more-detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.book-button {
  background-color: #766357;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.book-button:hover,
.book-button:focus {
  background-color: #604e43;
}

.book-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating-points {
  background-color: #f2f2f2;
  color: #666666;
}

.search-hotels-links {
  color: #000000;
  text-decoration: none;
}

.search-hotels-links:hover,
.search-hotels-links:focus {
  color: #81b3d2;
}

.search-hotels-links:active {
  color: rgba(0, 0, 0, 0.3);
}
